body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header,section {
    margin: 20px;
    padding: 20px;
    background-color: white;
}
nav, footer{
    margin: 2px;
    padding: 2px;
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
	margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


